<!--! Projects  -->
<div id="projects" class="projects border-t-2 w-full text-white bg-[#1f1f1f] flex flex-col items-center p-6 gap-8">
    <div class="mt-12">
        <h1 class="text-white text-4xl font-bold">Projects</h1>
    </div>

    <!-- Cards -->
    <div class="cards flex gap-5 flex-wrap justify-center">
        <!-- 1 Card -->
        <div class="card w-80 border-2 rounded-md p-3 flex flex-col items-center gap-3 cursor-pointer hover:bg-white hover:text-black shadow-md hover:shadow-white transition-all duration-200">
            <div class="img h-48 w-full">
                <img class="rounded-md h-full w-full" src="../../images/projects/attendance.png" alt="image">
            </div>
            <div class="w-full title text-3xl font-semibold">Attendance System</div>
            <p class="projectInfo text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, laborum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            <div class="links w-full flex gap-5 justify-start">
                <a href="https://faithful-cyan-gopher.cyclic.app" class="font-semibold hover:text-blue-600 text-base">Live Link <i class="fa-solid fa-link  text-sm"></i></a>
                <a href="https://github.com/imCyberMohsin/Attendance-System_NodeJS.git" class="font-semibold hover:text-blue-600 text-base">Github Link <i class="fa-solid fa-link  text-sm"></i></a>
            </div>
        </div>
        <!-- 1 Card -->
        <div class="card w-80 border-2 rounded-md p-3 flex flex-col items-center gap-3 cursor-pointer hover:bg-white hover:text-black shadow-md hover:shadow-white transition-all duration-200">
            <div class="img h-48 w-full">
                <img class="rounded-md h-full w-full" src="../../images/projects/resume.png" alt="image">
            </div>
            <div class="w-full title text-3xl font-semibold">Resume Builder</div>
            <p class="projectInfo text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, laborum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            <div class="links w-full flex gap-5 justify-start">
                <a href="https://resume-builder-free.onrender.com" class="font-semibold hover:text-blue-600 text-base">Live Link <i class="fa-solid fa-link  text-sm"></i></a>
                <a href="https://github.com/imCyberMohsin/Resume-Builder_ExpressJS.git" class="font-semibold hover:text-blue-600 text-base">Github Link <i class="fa-solid fa-link  text-sm"></i></a>
            </div>
        </div>
        <!-- 1 Card -->
        <div class="card w-80 border-2 rounded-md p-3 flex flex-col items-center gap-3 cursor-pointer hover:bg-white hover:text-black shadow-md hover:shadow-white transition-all duration-200">
            <div class="img h-48 w-full">
                <img class="rounded-md h-full w-full" src="../../images/projects/instagram.png" alt="image">
            </div>
            <div class="w-full title text-3xl font-semibold">Instagram Clone</div>
            <p class="projectInfo text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, laborum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            <div class="links w-full flex gap-5 justify-start">
                <a href="#" class="font-semibold hover:text-blue-600 text-base">Live Link <i class="fa-solid fa-link  text-sm"></i></a>
                <a href="https://github.com/imCyberMohsin/Instagram-clone-NodeJS.git" class="font-semibold hover:text-blue-600 text-base">Github Link <i class="fa-solid fa-link  text-sm"></i></a>
            </div>
        </div>
        <!-- 1 Card -->
        <div class="card w-80 border-2 rounded-md p-3 flex flex-col items-center gap-3 cursor-pointer hover:bg-white hover:text-black shadow-md hover:shadow-white transition-all duration-200">
            <div class="img h-48 w-full">
                <img class="rounded-md h-full w-full" src="../../images/projects/pinterest.png" alt="image">
            </div>
            <div class="w-full title text-3xl font-semibold">Pinterest Clone</div>
            <p class="projectInfo text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, laborum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            <div class="links w-full flex gap-5 justify-start">
                <a href="#" class="font-semibold hover:text-blue-600 text-base">Live Link <i class="fa-solid fa-link  text-sm"></i></a>
                <a href="https://github.com/imCyberMohsin/Pinterest-clone_Nodejs.git" class="font-semibold hover:text-blue-600 text-base">Github Link <i class="fa-solid fa-link  text-sm"></i></a>
            </div>
        </div>
        <!-- 1 Card -->
        <div class="card w-80 border-2 rounded-md p-3 flex flex-col items-center gap-3 cursor-pointer hover:bg-white hover:text-black shadow-md hover:shadow-white transition-all duration-200">
            <div class="img h-48 w-full">
                <img class="rounded-md h-full w-full" src="../../images/projects/cynthia.png" alt="image">
            </div>
            <div class="w-full title text-3xl font-semibold">Cynthia UI Clone</div>
            <p class="projectInfo text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, laborum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            <div class="links w-full flex gap-5 justify-start">
                <a href="https://imcybermohsin.github.io/Modern_Website-1_cynthiaugwu-clone/" class="font-semibold hover:text-blue-600 text-base">Live Link <i class="fa-solid fa-link  text-sm"></i></a>
                <a href="https://github.com/imCyberMohsin/Modern_Website-1_cynthiaugwu-clone.git" class="font-semibold hover:text-blue-600 text-base">Github Link <i class="fa-solid fa-link  text-sm"></i></a>
            </div>
        </div>
        <!-- 1 Card -->
        <div class="card w-80 border-2 rounded-md p-3 flex flex-col items-center gap-3 cursor-pointer hover:bg-white hover:text-black shadow-md hover:shadow-white transition-all duration-200">
            <div class="img h-48 w-full">
                <img class="rounded-md h-full w-full" src="../../images/projects/twogood.png" alt="image">
            </div>
            <div class="w-full title text-3xl font-semibold">TwoGood UI Clone</div>
            <p class="projectInfo text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, laborum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            <div class="links w-full flex gap-5 justify-start">
                <a href="https://imcybermohsin.github.io/twoGoodCo-clone/" class="font-semibold hover:text-blue-600 text-base">Live Link <i class="fa-solid fa-link  text-sm"></i></a>
                <a href="https://github.com/imCyberMohsin/twoGoodCo-clone.git" class="font-semibold hover:text-blue-600 text-base">Github Link <i class="fa-solid fa-link  text-sm"></i></a>
            </div>
        </div>
    </div>
</div>