<!--! Projects  -->
<div id="projects" class="projects border-t-2 w-full text-white bg-[#1f1f1f] flex flex-col items-center p-6 gap-8">
    <div class="mt-12">
        <h1 class="text-white text-4xl font-bold">Projects</h1>
    </div>

    <!-- Cards -->
    <div class="cards flex gap-5 flex-wrap justify-center">
        <!-- 1 Card -->
        <div class="card w-80 border-2 rounded-md p-3 flex flex-col items-center gap-3 cursor-pointer hover:bg-white hover:text-black shadow-md hover:shadow-white transition-all duration-200">
            <div class="img h-48 w-full">
                <img class="rounded-md h-full w-full" src="../../images/projects/attendance.png" alt="image">
            </div>
            <div class="title text-3xl font-semibold">Attendance System</div>
            <p class="projectInfo text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, laborum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
        </div>
        <!-- 1 Card -->
        <div class="card w-80 border-2 rounded-md p-3 flex flex-col items-center gap-3 cursor-pointer hover:bg-white hover:text-black shadow-md hover:shadow-white transition-all duration-200">
            <div class="img h-48 w-full">
                <img class="rounded-md h-full w-full" src="../../images/projects/resume.png" alt="image">
            </div>
            <div class="title text-3xl font-semibold">Resume Builder</div>
            <p class="projectInfo text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, laborum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
        </div>
        <!-- 1 Card -->
        <div class="card w-80 border-2 rounded-md p-3 flex flex-col items-center gap-3 cursor-pointer hover:bg-white hover:text-black shadow-md hover:shadow-white transition-all duration-200">
            <div class="img h-48 w-full">
                <img class="rounded-md h-full w-full" src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png" alt="image">
            </div>
            <div class="title text-3xl font-semibold">Instagram Clone</div>
            <p class="projectInfo text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, laborum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
        </div>
        <!-- 1 Card -->
        <div class="card w-80 border-2 rounded-md p-3 flex flex-col items-center gap-3 cursor-pointer hover:bg-white hover:text-black shadow-md hover:shadow-white transition-all duration-200">
            <div class="img h-48 w-full">
                <img class="rounded-md h-full w-full" src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone.png" alt="image">
            </div>
            <div class="title text-3xl font-semibold">Pinterest Clone</div>
            <p class="projectInfo text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, laborum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</div>