<!--! Services -->
<div id="services" class="services border-t-2 w-full h-screen bg-[#1f1f1f] flex flex-col items-center md:flex-row md:justify-center md:items-start  p-6 gap-5 md:gap-8">
    <div class="mt-12">
        <h1 class="text-white text-4xl font-semibold">Services</h1>
    </div>
</div>