<!--! Skills  -->
<div id="skills" class="skills border-t-2 w-full sm:h-screen text-white bg-[#1f1f1f] flex flex-col items-center p-6 gap-8">
    <div class="mt-12">
        <h1 class="text-white text-4xl font-bold">Skills / Stacks</h1>
    </div>

    <!-- Frontend -->
    <div class="frontend">
        <h1 class="text-3xl py-3 font-semibold text-center">Frontend</h1>
        <div class="icons flex justify-center flex-wrap gap-8">
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/html-5.png" alt="">
                </div>
                <p class="font-semibold">HTML</p>
            </div>
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/css-3.png" alt="">
                </div>
                <p class="font-semibold">CSS</p>
            </div>
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/js.png" alt="">
                </div>
                <p class="font-semibold">JS</p>
            </div>
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/ejs.png" alt="">
                </div>
                <p class="font-semibold">EJS</p>
            </div>
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/react.png" alt="">
                </div>
                <p class="font-semibold">React</p>
            </div>
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/Tailwind-css.png" alt="">
                </div>
                <p class="font-semibold">Tailwind</p>
            </div>
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/bootstrap.png" alt="">
                </div>
                <p class="font-semibold">Bootstrap</p>
            </div>
        </div>
    </div>

    <!-- Backend -->
    <div class="Backend">
        <h1 class="text-3xl py-3 font-semibold text-center">Backend</h1>
        <div class="icons flex justify-center flex-wrap gap-8">
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/node.png" alt="">
                </div>
                <p class="font-semibold">Node</p>
            </div>
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/express.png" alt="">
                </div>
                <p class="font-semibold">Express</p>
            </div>
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/mongodb.png" alt="">
                </div>
                <p class="font-semibold">MongoDB</p>
            </div>
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/mongoose.png" alt="">
                </div>
                <p class="font-semibold">Mongoose</p>
            </div>
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/api.png" alt="">
                </div>
                <p class="font-semibold">API</p>
            </div>
        </div>
    </div>

    <!-- Tools / Platforms -->
    <div class="Tools">
        <h1 class="text-3xl py-3 font-semibold text-center">Tools & Platforms</h1>
        <div class="icons flex justify-center flex-wrap gap-8">
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/git.png" alt="">
                </div>
                <p class="font-semibold">Git</p>
            </div>
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/github.png" alt="">
                </div>
                <p class="font-semibold">Github</p>
            </div>
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/linux.png" alt="">
                </div>
                <p class="font-semibold">Linux</p>
            </div>
            <div class="w-24 flex flex-col gap-2 items-center border-2 rounded-md p-2 cursor-pointer shadow-md hover:shadow-white hover:bg-white hover:text-black transition-all duration-200">
                <div class="img sm:w-10 sm:h-10 w-8 h-8">
                    <img src="../../images/skills/postman.png" alt="">
                </div>
                <p class="font-semibold">Postman</p>
            </div>
        </div>
    </div>
</div>