<!--! Main Page -->

<!-- Header -->
<%- include('./partials/Header.ejs') %>

<!--  -->
<%- include('./partials/Navbar.ejs') %>

<!-- Home Page -->
<div class="Home w-full h-screen bg-gray-400">
    
</div>


<!-- Footer -->
<%- include('./partials/Footer.ejs') %>