<!--! Main Page -->

<!-- Header -->
<%- include('./partials/Header.ejs') %>

<!--  -->
<%- include('./partials/Navbar.ejs') %>

<!-- Home Page -->
<div class="Home w-full h-screen mt-[-60px] bg-[#2f2f2f] flex flex-col md:flex-row justify-center items-center gap-5 md:gap-8">
        <!-- Left -->
        <div class="left md:w-2/5 w-4/5 text-white flex flex-col justify-start items-start gap-3">
            <h3 class="text-blue-700 text-3xl font-semibold">Hey!</h3>
            
            <div>
                <h1 class="text-4xl font-semibold">I'm Mohsin Ansari</h1>
                <p class="text-gray-300">Fullstack Developer</p>
            </div>

            <p class="md:w-4/5 text-gray-300">I'm Mohsin and I'm a fullstack web developer with over 2 years of experience in web development. Let collaborate!</p>

            <a href="/contact" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-semibold rounded-full text-lg px-6 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-white transition-all duration-150">Contact Me</a>
        </div>

        <!-- Right -->
        <div class="right">
            <div class="rightImage bg-white w-72 h-72 md:w-96 md:h-96 rounded-full overflow-hidden">
                <img src="../images/profile.png" alt="img" class="w-full h-full cursor-pointer p-[2px]">
            </div>
        </div>
</div>

<!-- Contact Me -->
<%- include('./partials/Contact.ejs') %>

<!-- Footer -->
<%- include('./partials/Footer.ejs') %>