/* Scrollbar off */
::-webkit-scrollbar {
    display: none;
}

/* Typing Text */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.typing-text {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(20, end) infinite;
    animation-timing-function: ease;
}