@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: #555555;
    color: #e0e0e0;
}

body {
    font-family: "Raleway", sans-serif;
    /* font-family: "Great Vibes", cursive; */
}

html {
    scroll-behavior: smooth;
}

/*? Hero Image Glowing Effect */
.rightImage {
    transition: box-shadow 0.3s ease;
}

.rightImage:hover {
    box-shadow: 0px 0px 10px 5px rgba(124, 58, 237, 0.6);
    /* Glowing effect with #7C3AED */
}

.glow-effect:hover {
    box-shadow: 0px 0px 20px 10px rgba(124, 58, 237, 0.8);
    /* Adjust glow color/intensity */
}