@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: #555555;
    color: #e0e0e0;
}

body {
    font-family: "Raleway", sans-serif;
    /* font-family: "Great Vibes", cursive; */
}

html {
    scroll-behavior: smooth;
}